<h1>New Comment</h1>

<div class="post">
    <p><%= @post.post %></p>
    <p><%= "- #{@post.user.first_name} #{@post.user.last_name} -"%></p>
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes |'%>
    <%= @post.comments.count %> <%= (@post.comments.count) == 1 ? 'Comment' : 'Comments'%></p>

    <% @post.posted_feedback.each do |comment| %>
        <p class="comments"><%= comment %></p>
    <% end %>
</div><br>

<%= render 'form', comment: @comment %>

<%= link_to 'Back', posts_path, method: :get %>
