<%= image_tag user_avatar(@user, 100), class: "rounded-circle" %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% if @user == current_user %>
<% elsif current_user.friend?(@user) %>
    <p>Friends</p>
<% elsif current_user.pending_friends.include?(@user) %>
    <p>Friend Request Pending</p>
<% elsif current_user.friend_requests.include?(@user) %>
    <%= button_to "Accept Request", friendship_path(@user), method: :patch%>
<% else %>
    <p><%= button_to "Add Friend", friendships_path(friend_id: @user.id), method: :post %>
<% end %>
<h4><%= @user.email%></h4>
<% if @user == current_user %>
<h3><%= link_to "My Friends", friendships_path, method: :get %></h3> 
<% end %>

<h3>Recent Posts</h3>
<div class="post">
    <div class="post-content">
        <% @user.posts.each do |post| %>
            <%= image_tag user_avatar(post.user, 30), class: "rounded-circle" %>
            <%= post.post %><br><br>
            <%= "- #{@user.first_name} #{@user.last_name} -"%>
    </div>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes |'%>
        <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%></p>
        <% post.posted_feedback.each do |comment| %>
            <p class="comments"><%= comment %></p>
        <% end %>
      <% end %>
</div><br>



<%= button_to "Edit Profile", edit_user_registration_path, method: :get %>
