<p id="notice"><%= notice %></p>

<h1>Community Posts</h1>

<div>
<%= image_tag user_avatar(current_user, 100), class: "rounded-circle" %>
<p>
  <%= "What's on your mind #{current_user.first_name}?"%><br>
</p>
<%= button_to 'New Post', new_post_path, method: :get %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <div class="post">
          <div class ="post-content"
            <% next if !current_user.friend?(post.user) %>
              <p><%= image_tag user_avatar(post.user, 20), class: "rounded-circle" %></p>
              <p><%= post.post %></p>
              <p><%= "- #{post.user.first_name} #{post.user.last_name} -"%></p>
          </div><br>
          <%= button_to 'View All / Comment', new_post_comment_path(post), method: :get %>
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
          <% else %>
            <%= button_to 'Like', post_likes_path(post), method: :post %>
          <% end %>
          <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes |'%>
          <%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%></p>
            <% post.posted_feedback.each do |comment| %>
              <p class="comments"><%= comment %></p>
            <% end %>
          <% if post.user_id == current_user.id %>
            <%= link_to 'Edit |', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </tr><br>
    <% end %>
  </tbody>
</table>

