<p id="notice"><%= notice %></p>

<div class="container-fluid gedf-wrapper">
  <div class="row">
  <!--- \\\\\\\Left Profile Info-->
    <div class="col-md-3">
      <%= render 'layouts/left_column'%>
    </div>
  <!--- \\\\\\\Left Profile Info-->

  <!--- \\\\\\\Middle Container-->
    <div class="col-md-6 gedf-main">
    <!-- Individual Post Card /////-->
      <div class="card gedf-card mb-3">
          <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="mr-2">
                          <%= image_tag user_avatar(@post.user, 30), class: "rounded-circle" %>
                      </div>
                      <div class="ml-2">
                          <div class="h5 m-0"><%= link_to "#{@post.user.first_name}", user_path(@post.user), method: :get%></div>
                          <div class="h7 text-muted"><%=@post.user.first_name%> <%=@post.user.last_name%></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <p class="card-text">
                <%= @post.post %>
              </p>
              <a class="card-link" href="#">
                  <p>
                  <%=@post.likes.count %> <%=(@post.likes.count) == 1 ? 'Like' : 'Likes'%>
                  <%=@post.comments.count%> <%=(@post.comments.count) == 1 ? 'Comment' : 'Comments'%>
                  </p>
              </a>
              <div class="text-muted h7 mb-2"> <i class="far fa-clock"></i> <%= time_ago_in_words(@post.created_at)%></div>
          </div>
          <div class="card-footer" style="color: #007BFF">
              <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <i class="fas fa-heart"></i> <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete, class: "card-link" %>
              <% else %>
                <i class="far fa-heart"></i> <%= link_to 'Like', post_likes_path(@post), method: :post, class: "card-link" %>
              <% end %>
              <a href="<%=new_post_comment_path(@post)%>" class="card-link"><i class="fa fa-comment"></i> Comment</a>
              <% if @post.user_id == current_user.id %>
                <br></br>
                <%= link_to 'Edit', edit_post_path(@post), class: "card-link text-muted"%>
                <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link text-danger" %>
              <% end %>
          </div>
      </div>
    <!--- \\\\\\\End Individual Post Card-->
      <h4 class="mb-4 mt-5">Comments</h4>
      <ul class="list-group">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item">
            <p style="font-size:.9rem; margin-bottom: 5px;"><%=comment.comment%></p>
            <%= image_tag user_avatar(comment.user, 15), class: "rounded-circle" %>
            <a href="<%=user_path(comment.user)%>"><small><%=comment.user.first_name%> <%=comment.user.last_name%></small></a>
            <div class="text-muted mb-2" style="font-size:10px; margin-top:.5rem;"> <i class="far fa-clock"></i> <%= time_ago_in_words(comment.created_at)%></div>
          </li>
        <% end %>
      </ul>
    </div>
    <!--- \\\\\\\End Middle Container-->

    <!--- \\\\\\\Side Posts Section-->
    <div class="col-md-3">
        <%=render 'layouts/right_column'%>
    </div>
</div>
