<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <%= link_to root_path, method: "get", class: "navbar-brand" do %>
    <i class="fab fa-opera fa-1x text-light"></i>dinbook
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to root_path, method: "get", class: "nav-link" do %>
              <div class="d-flex flex-column align-items-center mr-3">
                <i class="fas fa-home"></i>
                Home
              </div>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to users_path, method: "get", class: "nav-link" do %>
              <div class="d-flex flex-column align-items-center mr-3">
                <i class="fas fa-user"></i>
                Users
              </div>
          <% end %>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag url_for(user_avatar(current_user, 30)), class: "rounded-circle" %> <%=current_user.first_name%><%=current_user.last_name%>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%=friendships_path%>">Friends</a>
            <a class="dropdown-item" href="<%=user_path(current_user)%>">Profile</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "dropdown-item" %> 
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</nav>