<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OdinBook" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OdinBook" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= !user_signed_in? ? 'orange' : '' %>">
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
      <% end %>
      <%= render 'layouts/alerts' %>
      <%= yield %>
  </body>
</html>
