<!DOCTYPE html>
<html>
  <head>
    <title>OdinBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <header class='clearfix'>
        <div class="left-nav">
          <ul>
            <li><%= link_to "Odinbook", posts_path %></li>
          </ul>
        </div>
        <div class="right-nav">
          <ul>
            <li><%= link_to "Friends", friendships_path %></li>
            <li><%= link_to "#{current_user.first_name}", friendships_path %>
              <% if current_user.friend_requests.count > 0 %>
                <li><%=link_to "#{current_user.friend_requests.count} Friend Requests", friendships_path, method: :get %></li>
              <% end %>
          </ul>
        </div>
</header>

    <div class='content'>
      <%= yield %>

      <% if signed_in? %>
      <p><%= button_to "Logout", destroy_user_session_path, method: :delete %></p>
      <% end %>
    </div>

  </body>
</html>
